footer {
  background-color: #1e1e1e;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 2%;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.git-logo {
  width: 24px;
  height: 24px;
  margin-left: 55px;
}
