footer {
  background-color: #1e1e1e;
  color: white;
  /* text-align: center; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* padding: 2%; */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

.git-logo {
  width: 24px;
  height: 24px;
  margin-left: 55px;
}
