<div class="container">
  <h1 class="page-title">{{ title }}</h1>

  <div class="form-group">
    <form [formGroup]="deviceForm">
      <fieldset>
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input
            matInput
            formControlName="name"
            [matTooltip]="getErrorMessage('name')"
          />
          <mat-error>Deve ser um nome válido.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Tipo</mat-label>
          <input
            matInput
            formControlName="type"
            [matTooltip]="getErrorMessage('type')"
          />
          <mat-error>Deve ser um tipo válido.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Localização</mat-label>
          <input
            matInput
            formControlName="localization"
            [matTooltip]="getErrorMessage('localization')"
          />
          <mat-error>Deve ser uma localização válida.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Descrição</mat-label>
          <input
            matInput
            formControlName="description"
            [matTooltip]="getErrorMessage('description')"
          />
          <mat-error>Deve ter no máximo 100 caracteres.</mat-error>
        </mat-form-field>
      </fieldset>
    </form>
  </div>

  <div class="btns">
    <button mat-flat-button (click)="onCancel()" color="primary" type="button">
      Voltar
    </button>
    <button
      mat-flat-button
      (click)="onSubmit()"
      [disabled]="deviceForm.invalid"
      color="primary"
      cdkFocusInitial
      type="button"
    >
      Salvar
    </button>
  </div>
</div>
